@using Entity.ViewModel
@model ChangePasViewModel
@{
    Layout = "~/Views/Shared/ProfileLayout.cshtml";
}
@section css{
    <style>
       .changePas{
           position:relative;
           top:200px;
       }
    </style>
   
    }
<div class="container" style="position:relative; left:300px;">
    <div class="changePas">
        @using (Html.BeginForm("ChangePassword", "Member", FormMethod.Post, new { @class = "form-group" }))
        {
            if (ViewBag.Result != null)
            {
                <p class="alert-primary">ViewBag.Result</p>
            }
            @Html.Label("Parola Yenileme",new {@class="text-align-center",@style="position:relative; left:60px; font-size:20px;"  })
            <br /><br />
            <div class="form-group pass_show">
            
                @Html.TextBoxFor(x => x.CurrentPassword, new { @class = "form-control", @placeholder = "Güncel Parola", @type = "password" })

            </div>
            <div class="form-group pass_show ">
         
                @Html.TextBoxFor(x => x.NewPassword, new { @class = "form-control", @placeholder = "Yeni Parola", @type = "password" })

            </div>
            <div class="form-group pass_show">
        
                @Html.TextBoxFor(x => x.ConfirmPassword, new { @class = "form-control", @placeholder = "Parola Tekrarı", @type = "password" })
            </div>
            <div class="form-group pass_show">
                <button class="btn-success ">Kaydet</button>
            </div>

        }
    </div>
</div>