@using Entity
@model List<Category>
@{ 
    Layout = "~/Views/Shared/MyLayout.cshtml";
}
    <!--================Header Menu Area =================-->
    <!--================Home Banner Area =================-->
    <section class="home_banner_area">
        <div class="overlay"></div>
        <div class="banner_inner d-flex align-items-center">
            <div class="container">
                <div class="banner_content row">
                    <div class="offset-lg-2 col-lg-8">
                        <h3>
                            Dükkanın Evin
                            <br />
                        </h3>
                        <p>
                          Yap Sat Hayallerin gerçek olsun.
                        </p>
                        @Html.ActionLink("View Collection","Index","Product",new {@class="white_bg_btn" })
                     
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->
    <!--================Hot Deals Area =================-->
    <section class="hot_deals_area section_gap">
        <div class="container-fluid">
            <div class="row">
                @*//Kategoriler gelecek*@
                @foreach (Category item in Model)
                {
                <div class="col-lg-6">
                    <div style="height:400px; width:600px;" class="hot_deal_box">
                        <a href="/Product/Index/@item.ID"><img style="height:400px; width:600px;" class="img-fluid" src="@item.CategoryImageURL"></a>@*linkin içinde resim varken nasıl yazıcaz html şeklinde*@
                        <div class="content">
                            <h2>@item.CategoryName</h2>
                            <p>shop now</p>
                        </div>
                        @*<a class="hot_deal_link" href="/Product/Index/@item.ID"></a>*@
                    </div>
                    <br /><br />
                </div>
                    
                }
            </div>
        </div>
    </section> 
    