
@{
    Layout = "~/Views/Shared/MyLayout.cshtml";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
    label {
        color: black;
    }

    a {
        color: black !important;
    }
    /* START OF DEMO CSS - NOT NEEDED */

    body {
        background: url('../../Content/img/banner/2.jpg') fixed;
        background-size: cover;
    }
.white-background {
	background-color: rgb(255, 255, 255);
	color: rgb(51, 51, 51);
	padding-top: 10px;
	border-radius: 4px;
}
.title {
	font-size: 3em;
	font-weight: 700;
	text-shadow: 0px 0px 5px rgb(51, 51, 51);
	text-shadow: 0px 0px 5px rgba(51, 51, 51, 0.8);
	text-align: center;
}
#fullscreen {
    position: fixed;
    top: 10px;
    right: 10px;
}
/* END OF DEMO CSS */

    .mar-cls {
        margin-top: 30px;
    }

    .pro-sec {
    }

    .pro-ava-img {
        background-color: #fff;
        border-radius: 6px;
        display: inline-block !important;
        float: left;
        margin: -30px 5px 0 8px;
        max-width: 100%;
        padding: 1px;
        vertical-align: bottom;
    }

    .pro-avatar-img {
        border: 2px solid #e4e4e4;
        border-radius: 2px;
        box-sizing: border-box;
        color: #fff;
        height: 72px;
        width: 72px;
    }

    .ov-div {
        margin: 5px 0 0;
    }

    .user-name {
        font-size: 18px;
        font-weight: 700;
        line-height: 21px;
    }

        .user-name a {
            color: inherit !important;
        }

    .glyphicon {
        margin-right: 10px;
    }

    .panel-body {
        padding: 0px;
    }

        .panel-body table tr td {
            padding-left: 15px
        }

        .panel-body .table {
            margin-bottom: 0px;
        }

    .panel.panel-default {
        margin-top: 30px;
        overflow:hidden;
    }   
</style>
@RenderSection("css",false)
<div>
 

    <div class="container bootstrap snippet">


        <div class="row">
            <div class="col-md-2">@Html.Action("MyProfile", "Member")</div>
            <div class="col-md-1"></div>
            <div class="col-md-9">
                @RenderBody();
            </div>
          
         
        </div>

        <br>

        <br>

    </div>

</div><!--/tab-pane-->



<script>
    $(function () {
        /* START OF DEMO JS - NOT NEEDED */
        if (window.location == window.parent.location) {
            $('#fullscreen').html('<span class="glyphicon glyphicon-resize-small"></span>');
            $('#fullscreen').attr('href', 'http://bootsnipp.com/mouse0270/snippets/PbDb5');
            $('#fullscreen').attr('title', 'Back To Bootsnipp');
        }
        $('#fullscreen').on('click', function (event) {
            event.preventDefault();
            window.parent.location = $('#fullscreen').attr('href');
        });
        $('#fullscreen').tooltip();
        /* END DEMO OF JS */

        $('.navbar-toggler').on('click', function (event) {
            event.preventDefault();
            $(this).closest('.navbar-minimal').toggleClass('open');
        })
    });
</script>
@RenderSection("scripts", false)



