@using Entity
@model List<Order>
@{
    ViewBag.Title = "MyOrders";
    Layout = "~/Views/Shared/ProfileLayout.cshtml";
}

<table class="table table-striped" style="margin-top:180px;">
    <thead>
        <tr>
            <th>Sipariş Tarihi</th>
            <th>Toplam Fiyat</th>
            <th>Ödenme Durumu</th>
            <th>Detaylar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Order item in Model)
        {
            <tr>
                <td>@item.OrderDate</td>
                <td>@item.TotalPrice.ToString("C")</td>
                <td>Ödendi</td>
                <td><a class="btn btn-primary" href="/Order/OrderDetail/@item.ID">Sipariş Detayı</a></td>
            </tr>

        }

    </tbody>
</table>

