@using Entity
@model Order
@{
    ViewBag.Title = "OrderDetail";
    Layout = "~/Views/Shared/ProfileLayout.cshtml";
}

<h2>Sipariş Detayı</h2>
<table class="table table-striped" style="margin-top:120px;">
    <thead>
        <tr>
            <th>Ürünler</th>
            <th>Adet</th>
            <th>Toplam Fiyat</th>
        </tr>
    </thead>
    <tbody>
        @foreach (OrderItem item in Model.OrderItems)
        {
            <tr>
                <td>@item.Product.ProductName</td>
                <td>@item.ItemCount</td>
                <td>@item.TotalPrice.ToString("C")</td>
            </tr>
        }
            <tr>
                <td></td>
                <td></td>
                <td style="color:white;">Toplam @Model.TotalPrice.ToString("C")</td>
            </tr>
    </tbody>
</table>

